.header {
  display: flex;
  justify-content: space-between;
  border: 1px dotted black;
}
.logo-container{
  padding-left: 20px;
  cursor: pointer;
}

.logo {
  width: 150px;
  height: 50px;
  padding-top: 30px;
}
.styled-slogan-text {
  color: gray; /* Blue color */
  opacity: 40%;
  width: 150px;
  font-family: cursive, sans-serif;
}


.nav-items {
  padding: 0px 20px;
}

.nav-items > ul {
  font-size: 24px;
  display: flex;
  list-style-type: none;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}

.res-card {
  margin: 5px;
  padding: 5px;
  width: 250px;
  word-break: break-word;
  border-radius: 10px;
  /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
  transition: transform 0.1s;
  /* box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23); */
}

.res-card:hover {
  cursor: pointer;
  /* border: 1px solid black; */
  /* transform: scale(1.05); */
  transform: scale(0.95);
  /* box-shadow: 0 12px 20px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); */
  /* box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); */
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
  border-radius: 10px;
}
.top-rated-button i {
  margin-left: 5px; /* Add space between content and icon */
}

.cuisines {
  color: #686b78;
  font-size: 13px;
  padding-bottom: 20px;
  font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
}
.costForTwo {
  color: #686b78;
  font-size: 13px;
  font-family: ProximaNova, arial, Helvetica Neue, sans-serif;
}
.res-card-rating {
  height: 20px;
  width: 43px;
  padding: 0 5px;
  font-size: 15px;
  background-color: #48c479;
  /* rating above #48c479 
  rating below 4  #db7c38 */
  color: #fff;
  align-items: center;
  display: flex;
  justify-content: space-around;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
}

.shimmer-card {
  width: 250px;
  height: 300px;
  border-radius: 20px;
  background-color: #f0f0f0;
  margin: 20px;
}

.filter {
  display: flex;
  justify-content: space-around;
  margin: 10px;
  padding: 10px;
}
.search-container {
  display: flex;
  /* align-items: center; */
}

.search-input {
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 500px;
}

.search-button {
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.linkStyle {
  text-decoration: none;
  color: inherit;
}

.not-found-route-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png");
  background-size: cover;
  min-height: 100vh;
}

@media screen and (min-width: 768px) {
  .not-found-route-container {
    background-image: url("https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png");
  }
}

.not-found-heading {
  color: #ffffff;
  font-family: "Bree Serif";
  font-size: 32px;
}

@media screen and (min-width: 768px) {
  .not-found-heading {
    font-size: 64px;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Restaurant_container {
  max-width: 800px;
  min-height: 800px;
  margin: 20px auto 0;
}

.RestaurantHeader_container {
  margin: 0 16px;
}
.RestaurantHeader_container_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.RestaurantRatings_wrapper__2294i {
  border: 1px solid #e9e9eb;
  box-shadow: 0 1px 5px #f9f9f9;
  border-radius: 6px;
  text-align: center;
  padding: 8px;
  max-width: 100px;
  float: right;
  background: transparent;
}
.RestaurantRatings_avgRating__1TOWY {
  color: #3d9b6d;
  padding-bottom: 10px;
  border-bottom: 1px solid #e9e9eb;
  font-weight: 700;
  margin-bottom: 8px;
  display: block;
}
.icon-star {
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

.RestaurantRatings_totalRatings__3d6Zc {
  font-size: 11px;
  color: #8b8d97;
  font-family: ProximaNovaCondensedRegular, arial, Helvetica Neue, sans-serif;
  font-weight: 600;
}

.RestaurantHeader_dottedSeparator__2O2hU {
  border: none;
  border-bottom: 1px dashed #d3d3d3;
}

.RestaurantHeader_marginBottom__1rbfK {
  margin-bottom: 18px;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

.RestaurantTimeCost_wrapper__3YXF9 {
  color: #3e4152;
  font-size: 15px;
  font-weight: 700;
  display: flex;
}

ul {
  padding-left: 0; /* Remove padding */
  margin-left: 0; /* Remove margin */
  list-style-type: none;
}
.RestaurantTimeCost_item__2HCUz {
  margin-right: 24px;
}
.RestaurantTimeCost_icon__8UdT4 {
  vertical-align: bottom;
  margin-right: 10px;
}

.styles_headerNestedTitle__1PFSM {
  color: #3e4152;
  font-weight: 800;
  font-size: 1.3rem;
  display: inline-block;
}
.main_border__1Cc4a {
  height: 16px;
  border-bottom: 16px solid #f1f1f6;
}

.accordion-container {
  box-shadow: none  ;
  box-shadow: none;
}
.styles_divider__2JelH {
  border-bottom: 0.5px solid #d3d3d3;
  height: 0.5px;
  margin: 20px 0;
}

.singleItem{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.styles_itemImage__3CsDL {
  width: 118px;
  height: 96px;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 6px;
}